body{
  border: red 2px solid ;
  box-shadow: inset 0px 0px 10px .3vw red;
}
#body{
  margin: 1vw;
  text-align: center;
  border: 2px solid black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 96vh;
  box-shadow: inset 0px 0px 10vw 10px rgb(0, 0, 0);
}
#body:hover{
  box-shadow: inset 0px 0px 100vw 100px rgb(0, 0, 0);
  font-size: larger;
}
#taskList{
  text-shadow: 1px 1px 1px rgb(255, 10, 10);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(255, 10, 10) 5px 5px;
  padding: 1vw;
}
#bold{
  font-size: 5vw;
  font-weight: bolder;
}
#bold:hover{
  font-size: 5vw;
  font-weight: 500;
}
#light{
  font-size: 5vw;
  font-weight: 500;
}
#light:hover{
    font-size: 5vw;
    font-weight: bolder;
}
#inp{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 3px 3px 10px rgb(169 168 168);
  height: 40px;
  width: 350px;
  border: 2px solid red;
  background-color: white;
  border-radius: 5px;
  margin-top: 5vw;
  z-index: 3;
  box-shadow: 0px 0px 0px 20px white;
}
#inp:active{
  background-color: rgb(45, 45, 80);
  color: white;
}
#inp:hover{
  background-color: rgb(73, 73, 125);
  color: white;
}
#parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
#indexIcon{
  font-size: 38px;
  color: red;
  position: relative;
  top: 17px;
  right: 40px;
  cursor: pointer;
}
.child {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 3px 3px 10px rgb(169 168 168);
  height: 50px;
  width: 300px;
  border: 2px solid red;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}
.child:hover{
  background-color: rgb(36, 36, 68);
  color: white;
}
#del{
  font-size: 38px;
  color: red;
  position: relative;
  bottom: 12px;
  cursor: pointer;
}
#el-div{
  width: 92%
}
#del-div{
  width: 8%;
}
#clr-btn{
  display: flex;
  cursor: not-allowed;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 23vw;
  margin: 2vw;
  background: linear-gradient(to right, rgb(50, 38, 98) 50%, rgb(0, 0, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
}
#clr-btn:hover{
  height: 36px;
  background-position: left bottom;
}